[Unit]
Description=Celery Worker YAYEMATY
After=network.target redis.service postgresql.service gunicorn-yayematy.service

[Service]
Type=simple
User=colobanes
Group=colobanes
WorkingDirectory=/home/colobanes/analyse.yayematy.com
Environment="PATH=/home/colobanes/analyse.yayematy.com/venv/bin"
ExecStart=/home/colobanes/analyse.yayematy.com/venv/bin/celery -A yayematy_project worker -l info --concurrency=2
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
